<footer class="footer">
  <small>
    <a href="http://rubyonrails.org/">Rails Tutorial</a>
    Проект Андрея Красикова
  </small>
  <nav>
    <ul>
      <li><%= link_to "О Нас", 'about' %></li>
      <li><%= link_to "Конакты", 'contact' %></li>
      <li><a href="http://news.railstutorial.org/">Новости</a> </li>
    </ul>
  </nav>
</footer>